.current-nav {
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 25px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body {

  background: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /********** Section *******/
}

body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: nill;
      -ms-flex-pack: nill;
          justify-content: nill;
  -webkit-box-align: nill;
      -ms-flex-align: nill;
          align-items: nill;
  position: relative;
  height: 75vh;
  width: 100%;
  /******** Left div *******/
  /*********** Right div **********/
}

body section .left-div {
  background-color: navajowhite;
  width: 50%;
  height: 100%;
  position: relative;
}

body section .left-div .main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 470px) {
  body section .left-div .main {
    width: 80vw;
    margin: 0 auto;
    z-index: 999;
    position: absolute;
    left: 10vw;
    color: white;
    text-align: center;
    color: red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body section .left-div .main .top h1 {
  font-family: "Mukta", sans-serif;
}

body section .left-div .main .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 470px) {
  body section .left-div .main .search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body section .left-div .main .search-bar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (max-width: 470px) {
  body section .left-div .main .search-bar form {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body section .left-div .main .search-bar form .search {
  background: white;
  padding: 4px 2px;
  width: 69%;
}

@media only screen and (max-width: 470px) {
  body section .left-div .main .search-bar form .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 3px;
  }
}

body section .left-div .main .search-bar form .search input {

  border: none;
  outline: none;
  width: 80%;
}


@media only screen and (max-width: 470px) {
  body section .left-div .main .search-bar form .search input {
    width: 80%;
  }
}

body section .left-div .main .search-bar form .btn {
  border: none;
  outline: none;
  background-color: #331a00;
  color: white;
  width: 30%;
  font-size: smaller;
}

@media only screen and (max-width: 470px) {
  body section .left-div .main .search-bar form .btn {
    width: 50%;
    background-color: gray;
    color: #331a00;
  }
}

body section .right-div {
  background-color: #331a00;
  width: 50%;
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 470px) {
  body section .right-div {
    z-index: 1;
  }

}
body .hero-div {
  height: 80%;
  width: 50%;
  position: absolute;
  z-index: 99;
  top: 6%;
  right: 8%;
}

@media only screen and (max-width: 470px) {
  body .hero-div {
    position: relative;
    width: 100vw;
    height: 70vh;
  }
}
body .hero-div .fas {
  font-size: 1.5em;
  position: absolute;
  z-index: 999;
  color: white;
}

@media only screen and (max-width: 470px) {
  body .hero-div .fas {
    display: none;
  }
}

body .hero-div .left {
  left: -2%;
  top: 50%;
}
body .hero-div .right {
  right: -2%;
  top: 50%;
}
body .hero-div img {
  width: 100%;
  height: 100%;
}
body .current-nav {
  color: #533427 !important;
  background: white;
}

@media only screen and (max-width: 470px) {
  body .hero-div img {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.background-split {
  position: fixed;
  margin: 0;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #f8f8f8;
  z-index: -2;
}

section.roomgrid {
  display: block;
  margin: 30px auto;
  padding: 0;
  width: 1300px;
  max-height: 580px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "lg sm1 content"
 "lg sm2 content";
  grid-gap: 30px;
  -ms-grid-columns: 487px 269px 487px;
      grid-template-columns: 487px 269px 487px;
}

section.roomgrid .grid-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: lg;
  margin: 0;
  border: 8px solid white;
  -webkit-box-shadow: 0px 0px 2px 2px #ccc;
          box-shadow: 0px 0px 2px 2px #ccc;
  width: 487px;
  height: 580px;
}

section.roomgrid .grid-1 .lg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.roomgrid .grid-1 .price {
  position: relative;
  padding-top: 5px;
  display: block;
  text-align: center;
  background-color: white;
  font-weight: 500;
  line-height: 20px;
  width: 116px;
  bottom: 45px;
}

section.roomgrid .grid-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sm1;
  margin: 0;
  border: 8px solid white;
  -webkit-box-shadow: 0px 0px 2px 2px #ccc;
          box-shadow: 0px 0px 2px 2px #ccc;
  width: 269px;
  height: 269px;
}

section.roomgrid .grid-2 .lg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.roomgrid .grid-2 .price {
  position: relative;
  padding-top: 5px;
  display: block;
  text-align: center;
  background-color: white;
  font-weight: 500;
  line-height: 20px;
  width: 116px;
  bottom: 45px;
}

section.roomgrid .grid-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: sm2;
  margin: 0;
  border: 8px solid white;
  -webkit-box-shadow: 0px 0px 2px 2px #ccc;
          box-shadow: 0px 0px 2px 2px #ccc;
  width: 269px;
  height: 269px;
}

section.roomgrid .grid-3 .lg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.roomgrid .grid-3 .price {
  position: relative;
  padding-top: 5px;
  display: block;
  text-align: center;
  background-color: white;
  font-weight: 500;
  line-height: 20px;
  width: 116px;
  bottom: 45px;
}

section.roomgrid .grid-4 {
  width: 100%;
  max-height: 580px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: content;
}

section.roomgrid .grid-4 .title-1 {
  margin-top: 15px;
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  line-height: 0.7;
}

section.roomgrid .grid-4 .title-2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

section.roomgrid .grid-4 .content-body {
  position: relative;
  padding-left: 20px;
  margin-top: 25px;
  font-size: 20px;
}

section.roomgrid .grid-4 .content-body .star-filled {
  margin: 0;
  width: 20px;
}

section.roomgrid .grid-4 .content-body .fa-star {
  margin-right: 5px;
  width: 20px;
  color: #ffb74a;
}

section.roomgrid .grid-4 .review {
  background-color: #533427;
  margin: 20px 0;
  color: white;
  font-size: 16px;
  width: 165px;
  padding: 5px 0;
  text-align: center;
}

section.roomgrid .grid-4 .quote p {
  font-size: 13px;
  text-align: justify;
}

section.roomgrid .grid-4 .quote .quote-author {
  display: block;
  text-align: right;
}

section.roomgrid .grid-4 .oval-button-sec {
  background: #ffedc0;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 20px;
  border-radius: 20px;
  border: 4px solid white;
  -webkit-box-shadow: 0 0px 4px 0px #ddd;
          box-shadow: 0 0px 4px 0px #ddd;
}

section.roomgrid .grid-4 .oval-button-pri {
  display: block;
  position: relative;
  float: right;
  top: 35px;
  font-size: 24px;
  font-weight: 500;
  background: #533427;
  color: white;
  padding: 13px 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0px 4px 0px #ddd;
          box-shadow: 0 0px 4px 0px #ddd;
}

section.roomgrid .grid-4 .oval-button-pri img {
  width: 24px;
}

* {
  box-sizing: border-box;
}

.background-split-1,
.background-split-2 {
  position: fixed;
  margin: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -2;
}

.background-split-1 {
  right: 0;
  background: #f8f8f8;
}

.background-split-2 {
  left: 0;
  background: white;
}

section {
  position: relative;
  top: 100px;
}
section.roomgrid {
  margin: 30px auto;
  padding: 0;
  width: 1300px;
  height: auto;
  display: grid;
  grid-template-areas: "lg sm1 content" "lg sm2 content";
  grid-gap: 30px;
  grid-template-columns: 487px 269px 487px;
}
section.roomgrid .grid-1 {
  grid-area: lg;
  margin: 0;
  border: 8px solid white;
  box-shadow: 0px 0px 2px 2px #ccc;
  width: 487px;
  height: 580px;
}
section.roomgrid .grid-1 .lg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.roomgrid .grid-1 .price {
  position: relative;
  padding-top: 5px;
  display: block;
  text-align: center;
  background-color: white;
  font-weight: 500;
  line-height: 20px;
  width: 116px;
  bottom: 45px;
}
section.roomgrid .grid-2 {
  grid-area: sm1;
  margin: 0;
  border: 8px solid white;
  box-shadow: 0px 0px 2px 2px #ccc;
  width: 269px;
  height: 269px;
}
section.roomgrid .grid-2 .lg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.roomgrid .grid-2 .price {
  position: relative;
  padding-top: 5px;
  display: block;
  text-align: center;
  background-color: white;
  font-weight: 500;
  line-height: 20px;
  width: 116px;
  bottom: 45px;
}
section.roomgrid .grid-3 {
  grid-area: sm2;
  margin: 0;
  border: 8px solid white;
  box-shadow: 0px 0px 2px 2px #ccc;
  width: 269px;
  height: 269px;
}
section.roomgrid .grid-3 .lg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.roomgrid .grid-3 .price {
  position: relative;
  padding-top: 5px;
  display: block;
  text-align: center;
  background-color: white;
  font-weight: 500;
  line-height: 20px;
  width: 116px;
  bottom: 45px;
}
section.roomgrid .grid-4 {
  width: 100%;
  height: auto;
  grid-area: content;
}
section.roomgrid .grid-4 .title-1 {
  margin-top: 15px;
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  line-height: 0.7;
}
section.roomgrid .grid-4 .title-2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}
section.roomgrid .grid-4 .content-body {
  position: relative;
  padding-left: 20px;
  margin-top: 25px;
  font-size: 20px;
}
section.roomgrid .grid-4 .content-body .star-filled {
  margin: 0;
  width: 20px;
}
section.roomgrid .grid-4 .content-body .fa-star {
  margin-right: 5px;
  width: 20px;
  color: #ffb74a;
}
section.roomgrid .grid-4 .review {
  background-color: #533427;
  margin: 20px 0;
  color: white;
  font-size: 16px;
  width: 165px;
  padding: 5px 0;
  text-align: center;
}
section.roomgrid .grid-4 .quote p {
  font-size: 13px;
  text-align: justify;
}
section.roomgrid .grid-4 .quote .quote-author {
  display: block;
  text-align: right;
}
section.roomgrid .grid-4 .oval-button-sec {
  background: #ffedc0;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 20px;
  border-radius: 20px;
  border: 4px solid white;
  box-shadow: 0 0px 4px 0px #ddd;
}
section.roomgrid .grid-4 .oval-button-pri {
  display: block;
  position: relative;
  right: 0;
  float: right;
  font-size: 24px;
  font-weight: 500;
  background: #533427;
  color: white;
  padding: 13px 20px;
  border-radius: 30px;
  box-shadow: 0 0px 4px 0px #ddd;
}
section.roomgrid .grid-4 .oval-button-pri img {
  width: 24px;
}

header.room-header {
  display: block;
  position: absolute;
  top: 0;
  margin: 50px 0;
  width: 1300px;
  z-index: 10;
}
header.room-header .left-nav-room {
  position: absolute;
  left: 0;
}
header.room-header .right-nav-room {
  position: absolute;
  right: 0;
}
header.room-header .right-nav-room a {
  margin: 0 20px;
}
header.room-header .right-nav-room .current-nav {
  color: white !important;
  background: #533427;
}

.room-footer {
  clear: both;
}

.footer-flex {
  display: flex;
  /* background: red; */
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  font-size: 12px;
  font-weight: 400;
  background: #ffedc0;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.room-footer {
  display: none;
}

.footer-subscribe,
.footer-location,
.footer-time {
  padding: 20px 0;
  display: flex;
  line-height: 1.3;
  flex-direction: column;
  width: 450px;
  margin: auto;
}

.footer-subscribe p {
  font-size: 18px;
  margin-bottom: 5px;
}

.footer-subscribe ::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.footer-subscribe input {
  border: none;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  color: #ccc;
}

.footer-location img,
.footer-time img {
  width: 36px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  section {
    margin: 100px auto;
    top: 50px;
  }
  section.roomgrid {
    margin-bottom: 50px;
    max-width: 800px;
    height: auto;
    grid-gap: 15px;
    grid-template-areas: "lg sm1" "lg sm2" "content content";
    grid-template-columns: 520px 252px;
    grid-template-rows: 252px 252px 1fr;
  }
  section.roomgrid .grid-1 {
    height: 520px;
  }
  section.roomgrid .grid-2,
section.roomgrid .grid-3 {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
  }
  section.roomgrid .grid-4 .title-1 {
    margin-top: 10px;
    font-size: 20px;
  }
  section.roomgrid .grid-4 .title-2,
section.roomgrid .grid-4 .content-body {
    font-size: 14px;
    padding-left: 20px;
  }
  section.roomgrid .grid-4 .title-2 .fa-star,
section.roomgrid .grid-4 .content-body .fa-star {
    width: 14px;
  }
  section.roomgrid .grid-4 .title-2 .oval-button-sec,
section.roomgrid .grid-4 .content-body .oval-button-sec {
    display: block;
  }
  section.roomgrid .grid-4 .title-2 .oval-button-pri,
section.roomgrid .grid-4 .content-body .oval-button-pri {
    display: inline-block;
    float: none;
    font-size: 14px;
    padding: 5px 20px;
    margin-left: 80%;
    border: none;
  }

  .background-split-2 {
    display: none;
  }

  .background-split-1 {
    width: 100%;
  }

  header.room-header {
    margin: 10px 0;
    width: 800px;
  }
  header.room-header .left-nav-room {
    position: relative;
    left: 0;
  }
  header.room-header .right-nav-room {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  section {
    margin: 100px;
    top: 50px;
  }
  section.roomgrid {
    margin-bottom: 50px;
    max-width: 500px;
    grid-template-areas: "lg lg" "sm1 sm2" "content content";
    grid-template-columns: 235px 235px;
    grid-template-rows: 470px 235px 1fr;
  }
  section.roomgrid .grid-1 {
    height: 470px;
  }
  section.roomgrid .grid-4 .title-2,
section.roomgrid .grid-4 .content-body {
    font-size: 14px;
    padding-left: 0;
  }
  section.roomgrid .grid-4 .title-2 .review,
section.roomgrid .grid-4 .title-2 .quote,
section.roomgrid .grid-4 .content-body .review,
section.roomgrid .grid-4 .content-body .quote {
    display: none;
  }
  section.roomgrid .grid-4 .title-2 .oval-button-sec,
section.roomgrid .grid-4 .content-body .oval-button-sec {
    display: inline;
  }
  section.roomgrid .grid-4 .title-2 .oval-button-pri,
section.roomgrid .grid-4 .content-body .oval-button-pri {
    margin-left: 17%;
  }

  .background-split-2 {
    display: none;
  }

  .background-split-1 {
    width: 100%;
  }

  header.room-header {
    margin: 10px 0;
    width: 500px;
  }
  header.room-header .left-nav-room {
    position: relative;
    left: 0;
  }
  header.room-header .right-nav-room {
    display: none;
  }
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
