.current-nav {
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 25px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .left-div {
  background-color: navajowhite;
  width: 50vw;
  height: 90vh;
  position: relative;
}
body .left-div .left-nav {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: nill;
  align-items: center;
}
body .left-div .left-nav .logo {
  padding-left: 50px;
}
body .left-div .main {
  padding-left: 50px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: nill;
}
body .left-div .main .top h1 {
  font-family: "Mukta", sans-serif;
}
body .left-div .main .search-bar {
  display: flex;
}
body .left-div .main .search-bar form {
  padding: 5px 10px;
  background-color: white;
}
body .left-div .main .search-bar form input {
  border: none;
  outline: none;
}
body .left-div .main .search-bar .btn {
  border: none;
  outline: none;
  background-color: #331a00;
  color: white;
}
body .right-div {
  background-color: #331a00;
  width: 50vw;
  height: 90vh;
  position: relative;
}
body .right-div .right-nav {
  height: 15%;
}
body .right-div .right-nav .nav-list {
  width: 90%;
  padding: 22px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: nill;
}
body .right-div .right-nav .nav-list a {
  padding: 5px 20px;
  text-align: center;
  border-radius: 25px;
  color: white;
}
body .right-div .right-nav .nav-list a:active {
  background: white;
  color: black;
}
body .hero-div {
  height: 80vh;
  width: 50vw;
  border: 3px solid white;
  position: absolute;
  z-index: 99;
  top: 15%;
  right: 7%;
}
body .hero-div .fas {
  font-size: 1.5em;
  position: absolute;
  z-index: 999;
  color: white;
}
body .hero-div .left {
  left: -2%;
  top: 50%;
}
body .hero-div .right {
  right: -2%;
  top: 50%;
}
body .hero-div img {
  width: 100%;
  height: 100%;
}
body .current-nav {
  color: #533427 !important;
  background: white;
}

* {
  box-sizing: border-box;
}

.background-split-1,
.background-split-2 {
  position: fixed;
  margin: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -2;
}

.background-split-1 {
  right: 0;
  background: #f8f8f8;
}

.background-split-2 {
  left: 0;
  background: white;
}

section {
  position: relative;
  top: 100px;
}
section.roomgrid {
  margin: 30px auto;
  padding: 0;
  width: 1300px;
  max-height: 580px;
  display: grid;
  grid-template-areas: "lg sm1 content" "lg sm2 content";
  grid-gap: 30px;
  grid-template-columns: 487px 269px 487px;
}
section.roomgrid .grid-1 {
  grid-area: lg;
  margin: 0;
  border: 8px solid white;
  box-shadow: 0px 0px 2px 2px #ccc;
  width: 487px;
  height: 580px;
}
section.roomgrid .grid-1 .lg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.roomgrid .grid-1 .price {
  position: relative;
  padding-top: 5px;
  display: block;
  text-align: center;
  background-color: white;
  font-weight: 500;
  line-height: 20px;
  width: 116px;
  bottom: 45px;
}
section.roomgrid .grid-2 {
  grid-area: sm1;
  margin: 0;
  border: 8px solid white;
  box-shadow: 0px 0px 2px 2px #ccc;
  width: 269px;
  height: 269px;
}
section.roomgrid .grid-2 .lg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.roomgrid .grid-2 .price {
  position: relative;
  padding-top: 5px;
  display: block;
  text-align: center;
  background-color: white;
  font-weight: 500;
  line-height: 20px;
  width: 116px;
  bottom: 45px;
}
section.roomgrid .grid-3 {
  grid-area: sm2;
  margin: 0;
  border: 8px solid white;
  box-shadow: 0px 0px 2px 2px #ccc;
  width: 269px;
  height: 269px;
}
section.roomgrid .grid-3 .lg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.roomgrid .grid-3 .price {
  position: relative;
  padding-top: 5px;
  display: block;
  text-align: center;
  background-color: white;
  font-weight: 500;
  line-height: 20px;
  width: 116px;
  bottom: 45px;
}
section.roomgrid .grid-4 {
  width: 100%;
  max-height: 580px;
  grid-area: content;
}
section.roomgrid .grid-4 .title-1 {
  margin-top: 15px;
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  line-height: 0.7;
}
section.roomgrid .grid-4 .title-2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}
section.roomgrid .grid-4 .content-body {
  position: relative;
  padding-left: 20px;
  margin-top: 25px;
  font-size: 20px;
}
section.roomgrid .grid-4 .content-body .star-filled {
  margin: 0;
  width: 20px;
}
section.roomgrid .grid-4 .content-body .fa-star {
  margin-right: 5px;
  width: 20px;
  color: #ffb74a;
}
section.roomgrid .grid-4 .review {
  background-color: #533427;
  margin: 20px 0;
  color: white;
  font-size: 16px;
  width: 165px;
  padding: 5px 0;
  text-align: center;
}
section.roomgrid .grid-4 .quote p {
  font-size: 13px;
  text-align: justify;
}
section.roomgrid .grid-4 .quote .quote-author {
  display: block;
  text-align: right;
}
section.roomgrid .grid-4 .oval-button-sec {
  background: #ffedc0;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 20px;
  border-radius: 20px;
  border: 4px solid white;
  box-shadow: 0 0px 4px 0px #ddd;
}
section.roomgrid .grid-4 .oval-button-pri {
  display: block;
  position: relative;
  float: right;
  top: 35px;
  font-size: 24px;
  font-weight: 500;
  background: #533427;
  color: white;
  padding: 13px 20px;
  border-radius: 30px;
  box-shadow: 0 0px 4px 0px #ddd;
}
section.roomgrid .grid-4 .oval-button-pri img {
  width: 24px;
}

header.room-header {
  display: block;
  position: absolute;
  top: 0;
  margin: 50px 0;
  width: 1300px;
  z-index: 10;
}
header.room-header .left-nav {
  position: absolute;
  left: 0;
}
header.room-header .right-nav {
  position: absolute;
  right: 0;
}
header.room-header .right-nav a {
  margin: 0 20px;
}
header.room-header .right-nav .current-nav {
  color: white !important;
  background: #533427;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
